<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
		<title>カルボナーラ</title>
	</head>
	<body>
		<div class="container">
			<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
				<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
					<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
					<span class="fs-4">レシピwithタイマー</span>
				</a>
				<ul class="nav nav-pills">
					<li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
					<li class="nav-item"><a href="#" class="nav-link">recipes</a></li>
					<li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
					<li class="nav-item"><a href="#" class="nav-link">contacts</a></li>
					<li class="nav-item"><a href="#" class="nav-link">About</a></li>
				</ul>
			</header>
		</div>
		<h1>カルボナーラ</h1>
		<p>材料</p>
		<p class="zairyou">たまご　@end 20分焼く　@end</p>
