{% extends "layout.html" %}
{% block title %}<title>add_recipes</title>{% endblock %}

{% block content %}  
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="img/calbo.png"/></svg>
        <span class="fs-4">レシピwithタイマー</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="recipes" class="nav-link">recipes</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="/contacts" class="nav-link">contacts</a></li>
        <li class="nav-item"><a href="/add_recipes" class="nav-link active" aria-current="page">add_recipes</a></li>
      </ul>
    </header>
    <div class="container mt-4">
      <h2>レシピの追加</h2>
      <form action="/add_recipes" method="POST">
          <label for="recipe">レシピ</label>
          <input name="recipe"></input>
  
          <label for="times">時間(分)</label>
          <input name="times"></input>
  
          <label for="diff">難易度</label>
          <input name="diff"></input>
          <label for="mat">材料</label>
          <input name="mat"></input>
          <label for="howto">作り方</label>
          <input name="howto"></input>
  

  
          <button type="submit" class="btn btn-primary">レシピ追加</button>
      </form>
  </div>
{% endblock %}