{% extends "layout.html" %}
{% block title %}<title>recipes</title>{% endblock %}
{% block content %}    
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="img/calbo.png"/></svg>
        <span class="fs-4">レシピwithタイマー</span>
      </a>
  
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="recipes" class="nav-link active" aria-current="page">recipes</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="/contacts" class="nav-link">contacts</a></li>
        <li class="nav-item"><a href="/add_recipes" class="nav-link">add_recipes</a></li>
      </ul>
    </header>    
<div class="container mt-4">
    <h2>レシピ一覧</h2>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">レシピ名</th>
              <th scope="col">時間</th>
              <th scope="col">むずかしさ</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for reci in recipes %}
            <tr>
              <th scope="row"><a href="recipes/{{reci.id}}">{{reci.id}}</a></th>
              <td>{{ reci.name }}</td>
              <td>{{ reci.times }}</td>
              <td>{{ reci.diff }}</td>
              <td>
                <form action="{{ url_for('recipe_delete', id=reci.id) }}" method="POST">  
                  <input class="btn btn-danger btn-sm" type="submit" value="削除">  
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
    </table>
</div>
        
{% endblock %}