{% extends "layout.html" %}
{% block title %}<title>recipes</title>{% endblock %}
{% block content %}
<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
			<svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
			<span class="fs-4">レシピwithタイマー</span>
		</a>
		<ul class="nav nav-pills">
			<li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
			<li class="nav-item"><a href="#" class="nav-link">recipes</a></li>
			<li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
			<li class="nav-item"><a href="#" class="nav-link">contacts</a></li>
			<li class="nav-item"><a href="#" class="nav-link">About</a></li>
		</ul>
	</header>
</div>
		<h1>ごはん</h1>
		<img src="{ { url_for('static', filename = 'img/calbo.png') }}" alt="ごはん">
		<p>材料</p>
		<p class="zairyou">お米 水</p>
		<p>作り方</p>
		<div class="recipe">
		<p class="make">炊く</p>
		<div id="container">
			<div id="time" value="20" >時間を測るためにstartを押してね</div>
			<div id="buttons">
				<input id="start" type="button" value="start">
				<input id="stop" type="button" value="stop">
				<input id="reset" type="button" value="reset">
			</div>
		</div>
		</div>
		<p>完成!</p>
{% endblock %}
